* {
margin: 0;
padding: 0;
box-sizing: border-box;    
}

.boss {
width: 100%;
height: 100vh;
background-color: red;    
}

.header {
width: 100%;
height: 10%;
background-color: blue;
display: flex;
align-items: center;
justify-content: space-around;
}

.menu_logo_div {
width: 2%;
height: 40%;
background-color: yellow;   
}

.youtube_logo {
width: 7%;
height: 40%;
background-color: green;    
}

.search_div {
width: 30%;
height: 60%;
background-color: aqua;   
}

.microphone_div {
width: 5%;
height: 40%;
background-color: aqua;   
}

.create_div {
width: 8%;
height: 40%;
background-color: red;    
}

.notif_div {
width: 2%;
height: 40%;
background-color: green;    
}

.account_div {
width: 5%;
height: 40%;
background-color: yellow;
display: flex;
justify-content: center;    
}

.account_circle {
width: 50%;
height: 100%;
background-image: url(./avatars/cat.jpg);
background-repeat: no-repeat;
background-size: cover;
border-radius: 50%;    
}