* {
margin: 0;
padding: 0;
box-sizing: border-box;    
}

a {
text-decoration: none;    
}

.boss {
width: 100%;
height: 100vh;
}

.header {
width: 100%;
height: 10%;
background-color: #0F0F0F;
display: flex;
align-items: center;
padding-left: 1%;
}

.menu_logo_div {
width: 3%;
height: 50%;
background-color: transparent;
border-radius: 50%;
display: flex; 
justify-content: center;
align-items: center;
transition: 0.2s;
margin-right: 1%;
cursor: pointer;  
}

.menu_logo_div:hover {
background-color: rgba(255, 255, 255, 0.182);    
}

.youtube_logo {
width: 7%;
height: 40%;
margin-right: 25%;  
}

.search_div_big {
width: 30%;
height: 70%;
display: flex;
align-items: center;
justify-content: center;   
}

.search_div_small {
width: 80%;
height: 75%;
position: relative;    
}

.search_input {
width: 100%;
height: 100%;
background-color: #121212;
border-radius: 40px 0px 0px 40px;
padding-left: 2%;
font-size: 1.1rem;
outline-color: blue;
color: white;
}

.search_search_div {
width: 15%;
height: 75%;
background-color: #222222;
border-radius: 0px 40px 40px 0px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.search_logo_div {
width: 60%;
height: 60%;
}

.keyboard_logo_div {
width: 10%;
height: 50%;
position: absolute;
right: 0;
top: 20%;
cursor: pointer;    
}

.microphone_div {
width: 3%;
height: 50%;
background-color: #222222;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
margin-right: 15%;
cursor: pointer; 
}

.microphone_div:hover {
background-color: #454545;    
}

.create_div {
width: 7%;
height: 50%;
background-color: #222222;
display: flex;
align-items: center;
justify-content: space-evenly; 
border-radius: 40px;
transition: 0.2s;
cursor: pointer;
margin-right: 1%;  
}

.create_div:hover {
background-color: #454545;    
}

.plus_logo_div {
width: 25%;
height: 90%;
}

.create_text {
font-size: 1.3rem;
color: white;
user-select: none;    
}

.notif_div {
width: 3%;
height: 50%;
background-color: transparent;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
transition: 0.2s;
cursor: pointer;  
}

.notif_div:hover {
background-color: rgba(255, 255, 255, 0.182);    
}

.account_div {
width: 5%;
height: 40%;
display: flex;
justify-content: center;    
}

.account_circle {
width: 50%;
height: 100%;
background-image: url(./avatars/cat.jpg);
background-repeat: no-repeat;
background-size: cover;
border-radius: 50%;    
}

.main {
width: 100%;
height: auto;
display: flex;
position: relative;
}

.nav {
width: 5%;
height: 90%;
background-color: #0F0F0F;
position: fixed;
}

.house_div {
width: 100%;
height: 12%;
background-color: transparent;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transition: 0.2s;   
}

.house_div:hover {
background-color: rgba(255, 255, 255, 0.182);    
}

.house_logo_div {
width: 40%;
height: 40%;
display: flex;
justify-content: center;
align-items: center;    
}

.nav_text {
color: white;
user-select: none;
font-size: 0.9em;
}

.nav_a {
text-decoration: none;    
}

.videos_main {
width: 100%;
height: 90%;
background-color: #0F0F0F;
display: flex;
flex-direction: column;
gap: 40px;   
}

.row1 {
width: 95%;
height: 40vh;
display: flex;
justify-content: space-evenly;
transform: translateX(5%);    
}

.card {
width: 30%;
height: 100%;
border-radius: 10px;
cursor: pointer;
position: relative;  
}

.card_hover_div {
width: 100%;
height: 90%;
border-radius: 10px;
background-color: transparent;
position: absolute;
transition: 0.4s;
pointer-events: none;
}

.card:hover .card_hover_div {
background-color: rgba(255, 255, 0, 0.1);
transform: scale(1.04);
}

.card_photo_div {
width: 100%;
height: 70%;
border-radius: 10px;    
}

.card_photo {
width: 100%;
height: 100%;
border-radius: 10px;}

.card_info_big {
width: 100%;
height: 30%;
border-radius: 0px 0px 10px 10px;
display: flex;
padding-top: 2%;
}

.avatar_href {
width: 8%;
height: 35%;
}

.card_avatar_div {
width: 100%;
height: 100%;
border-radius: 50%;
}

.card_avatar {
width: 100%;
height: 100%;
border-radius: 50%;    
}

.card_info_small {
width: 92%;
height: 100%;
position: relative;   
}

.card_title {
width: 90%;
height: 25%;
color: white;
display: flex;
align-items: center;
font-size: 1.2rem;
}

.card_info_small_small {
width: 80%;
height: 20%;
display: flex;    
}

.card_profile_name_div {
width: 100%;
height: 100%;
color: rgba(255, 255, 255, 0.82);
transition: 0.2s;
display: flex;
justify-content: center;
align-items: center;   
}

.card_profile_name_div:hover {
color: white;    
}

.card_play_icon_div {
width: 5%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;    
}

.card_viewers_number_div {
width: 25%;
height: 100%; 
color: rgba(255, 255, 255, 0.82);
display: flex;
justify-content: center;
align-items: center;   
}

.card_date_div {
width: 25%;
height: 100%;
color: rgba(255, 255, 255, 0.82); 
display: flex;
justify-content: center;
align-items: center;   
}

.card_more_div {
width: 10%;
height: 40%;
background-color: transparent;
border-radius: 50%;
position: absolute;
right: 0;
top: 0;
display: flex;
justify-content: center;
align-items: center;
transition: 0.2s; 
}

.card_more_div:hover {
background-color: rgba(255, 255, 255, 0.182);    
}
